@model VSFlyMVCClient.Models.Statistics.DestinationBookings

@{
    ViewData["Title"] = "Destination bookings";
}

<h1>Destination bookings</h1>

<form asp-action="DestinationBookings" class="form-inline">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Destination" class="control-label"></label>
        <select style="margin-left: 0.5em;"  asp-for="Destination" asp-items="Model.DestinationsListAsync().Result"></select>
        <span asp-validation-for="Destination" class="text-danger"></span>
        <input style="margin-left: 0.5em;" type="submit" value="Go!" class="btn btn-primary" />
    </div>
</form>



@if (!String.IsNullOrEmpty(Model.Destination))
{
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                Destination
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Destination)
            </dd>
        </dl>
    </div>
    @if (Model.BookingSet.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Surname
                    </th>
                    <th>
                        Given name
                    </th>
                    <th>
                        Flight No
                    </th>
                    <th>
                        Sale price
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.BookingSet)
                {
                    <tr>
                        <td>
                            @item.Surname
                        </td>
                        <td>
                            @item.GivenName
                        </td>
                        <td>
                            @item.FlightNo
                        </td>
                        <td>
                            @item.SalePrice
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div>No booking for this destination 😕</div>
    }
}
else
{
    <br />
    <div>Please pick a destination</div>
}

<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>
